html {
  max-width: 100ch;
  padding: 1em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 1em;
}

p,
ul,
ol {
  margin-bottom: 2em;
  color: #1d1d1d;
}
