.pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pomodoro__time {
  font-size: 5rem;
  font-weight: 100;
}

.pomodoro__buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
}

.pomodoro__buttons button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: none;
  cursor: pointer;
  font-family: monospace;
  border-radius: 5px;
}

.pomodoro__buttons #start {
  background-color: #4caf50;
  color: #ffffff;
}

.pomodoro__buttons #pause {
  background-color: #f44336;
  color: #ffffff;
}

.pomodoro__buttons #reset {
  background-color: #2196f3;
  color: #ffffff;
}

.pomodoro__settings {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pomodoro__settings label {
  font-size: 1rem;
  margin: 0 0.5rem;
}

.pomodoro__settings input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-align: center;
}

.pomodoro__status {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 1rem;
  text-transform: uppercase;
}

.pomodoro__progress {
  width: 300px;
  height: 1rem;
  background-color: #bcbcbc;
  margin-top: 1rem;
  border-radius: 100px;
  overflow: hidden;
}
