.pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pomodoro_time {
  font-size: 5rem;
  font-weight: 900;
}

.pomodoro_buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
}

.pomodoro_buttons button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: none;
  cursor: pointer; /* it gives you that hand to make you feel like you are pointing at something when you hover over a button*/
  font-family: monospace;
  border-radius: 5px;
}

.pomodoro_buttons #start {
  background-color: #4caf50;
  color: #ffffff;
}

.pomodoro_buttons #pause {
  background-color: #f44336;
  color: #ffffff;
}

.pomodoro_buttons #reset {
  background-color: #2196f3;
  color: #ffffff;
}

.pomodoro_settings {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pomodoro_settings label {
  font-size: 1rem;
  margin: 0 0.5rem;
}

.pomodoro_settings input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-align: center;
}

.pomodoro_status {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 1rem;
  text-transform: uppercase;
}

.pomodoro_progress {
  width: 300px;
  height: 1rem;
  background-color: #bcbcbc;
  margin-top: 1rem;
  border-radius: 100px;
  overflow: hidden;
}
